<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixels.colsanbartolome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mostrarevento"></activity>
        <activity
            android:name=".agregarevento"
            android:label="Agregar Evento" />
        <activity android:name=".editare" />
        <activity android:name=".eventos" />
        <activity
            android:name=".menuadmi"
            android:label="ADMINISTRATIVO"
            android:theme="@style/scrollvir" />
        <activity
            android:name=".dialogoadmi"
            android:theme="@style/thme" />
        <activity
            android:name=".admi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cambiarcontra"
            android:label="Cambiar Contraseña" />
        <activity
            android:name=".agregar"
            android:label="Agregar Mensajes" />
        <activity
            android:name=".editar"
            android:label="Editor de Mensajes" />
        <activity android:name=".mensajesprof" />
        <activity android:name=".mensajeses" />
        <activity
            android:name=".materiase"
            android:label="MATERIAS"
            android:theme="@style/scrollvir" />
        <activity
            android:name=".cursosesn"
            android:label="CURSOS"
            android:theme="@style/scrollvir" />
        <activity
            android:name=".cursoses"
            android:label="CURSOS"
            android:theme="@style/scrollvir" />
        <activity android:name=".estudaintesc" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menucursos"
            android:label="CURSOS"
            android:theme="@style/scrollvir" />
        <activity
            android:name=".menuprofesores"
            android:label="MATERIAS"
            android:theme="@style/scrollvir" />
        <activity
            android:name=".sede"
            android:label="SELECCION DE SEDE"
            android:theme="@style/apptem" />
        <activity
            android:name=".dialogcarga"
            android:theme="@style/thme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".estudiante"
            android:label="Estudiantes"
            android:theme="@style/apptem" />
        <activity
            android:name=".iniciarprofesores"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inicio"
            android:theme="@style/thme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>